$content-background-color : #f2f2f2;
$sidebar-background-color : #4D4D4D;

$sidebar-primary-color : #A9C1C1;
$sidebar-secondary-color : $content-background-color;

$content-primary-color :  $sidebar-background-color ;
$content-secondary-color : #8FC4BA;
