$color-1:#a9c1c1;
$color-2:#8fc4bb;
$color-3: #4D4D4d;
$color-4: #f2f2f2;
$color-5 : #afabab;

$content-background-color : white;
$sidebar-background-color : $color-3;

$content-primary-color:  $sidebar-background-color ;
$content-secondary-color: $color-2;
