$color-1:#a9c1c1;
$color-2:#8fc4bb;
$color-3: #1D140C;
$color-4: #f2f2f2;
$color-5 : #afabab;

$blueish : $color-1;
$tealish : $color-2;
$dark-brownish : $color-3;
$whitish : $color-4;
$greyish : $color-5;
