.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-folder-open {
  width: 1.0712890625em;
}

.icon-globe {
  width: 0.857421875em;
}

.icon-phone {
  width: 0.78515625em;
}

.icon-linkedin {
  width: 0.857421875em;
}

.icon-graduation-cap {
  width: 1.28515625em;
}
