@charset "utf-8";

/* Using namespaces : 
    https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/
    https://www.smashingmagazine.com/2016/06/battling-bem-extended-edition-common-problems-and-how-to-avoid-them/

    o - object 
        Signify that something is an Object, and that it may be used in any number of unrelated contexts to the one you can currently see it in
    c - component
        Signify that something is a Component. This is a concrete, implementation-specific piece of UI.
    u - utility
        Signify that this class is a Utility class. It has a very specific role (often providing only one declaration) and should not be bound onto or changed
    is-, has-: 
        Signify that the piece of UI in question is currently styled a certain way because of a state or condition. 

    and BEM

*/

@media screen {
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Nunito', sans-serif;
        margin: 0;
    }

    .o-grid-layout {
        display: grid;
        width: 100%;

        @include mq($until: tablet) {
            grid-template-columns: 1fr;
            grid-template-areas:
                "sidebar"
                "content"
        }

        @include mq($from: tablet) {
            grid-template-columns: 1fr 2fr;
            grid-template-areas:
                "sidebar content content content"
        }

        @include mq($from: wide) {
            grid-template-columns: 1fr 3fr;
            grid-template-areas:
                "sidebar  content  content content"
        }
    }

    .o-content-grid-area {
        grid-area: content;
        display: grid;
        grid-template-columns: 1fr;
        background-color: $whitish;
        padding: 1.5rem;
        color: $dark-brownish;
    }

    .c-resume-section {
        display: grid;
        width: 100%;
        grid-template-columns: 3.5em 1fr;
        grid-template-areas:
            "header header"
            "icon content";

        header {
            grid-area: header;
            padding: 1em 0 1em 0;
        }

        &__script-title {
            position: relative;
            margin: 0;
            z-index: 0;
            text-transform: uppercase;

            span {
                background-color: $whitish;
                padding: 0 1em 0 0.5em;
            }

            :before {
                content: "";
                display: block;
                position: absolute;
                z-index: -1;
                top: 50%;
                width: 100%;
                border-bottom: 3px solid $dark-brownish;
            }
        }

        &__box-title {
            text-align: center;
            border: 3px solid $color-1;
            padding: 0.5em;
            color: $color-2;
            text-transform: uppercase;
        }

        &__icon-container {
            grid-area: icon;
            justify-self: end;
            align-self: center;
        }

        &__content-container {
            grid-area: content;
        }
    }

    .c-icon {
        background-color: $whitish;
        stroke: $dark-brownish;
        fill: $dark-brownish;
        display: inline-block;
        width: 2em;
        height: 2em;
        stroke-width: 0;
    }

    .c-resume-item {
        margin-left: 1em;
        padding-left: 2em;
        border-width: 0 0 0 3px;
        border-style: solid;
        border-color: $dark-brownish;

        &:not(:last-of-type) {
            *:last-child {
                margin-bottom: 0;
            }
        }

        &:last-of-type {
            *:last-child {
                margin-bottom: 1rem;
            }
        }

        &:first-of-type:before {
            content: "";
            display: block;
            position: relative;
            top: 0%;
            left: -2em;
            width: 3%;
            border-width: 3px 0 0 0;
            border-style: solid;
            border-color: $dark-brownish;
        }

        &:last-of-type:after {
            content: "";
            display: block;
            position: relative;
            top: 0%;
            left: -2em;
            width: 3%;
            border-width: 0 0 3px 0;
            border-style: solid;
            border-color: $dark-brownish;
        }

        &__title {
            font-family: 'IBM Plex Mono', monospace;
            text-transform: uppercase;
            color: $tealish;

        }

        &__subtitle {
            font-family: 'IBM Plex Mono', monospace;
            text-decoration: underline;
            text-transform: uppercase;
        }

        &__dates {
            background: $tealish;
            padding: 0.5em;
            font-weight: 700;
            color: $whitish;
        }

        &__dates--grey {
            background: $greyish;
            padding: 0.5em;
            color: $whitish;
        }
    }

    .c-summary {
        padding-left: 3.5em;
    }

    .c-certification__date {
        color: $tealish;
        font-weight: bold;
    }

    .c-certification__name {
        color: $color-4;
    }

    .c-certifications__item {
        border-color: $whitish;
    }

    .languages{
        grid-template-columns: 1fr;
        grid-template-areas: "header" "content"
    }
    .language__name {
        text-transform: uppercase;
        font-weight: 700;
        color: $whitish;
    }

    .language__fluency {
        color: $whitish;
    }

    .o-sidebar {
        grid-area: sidebar;
        background-color: $dark-brownish;
        padding: 0.5rem;

        ul {
            list-style-type: none;
        }

        .c-icon {
            background-color: $dark-brownish;
            stroke: $whitish;
            fill: $whitish;
        }

        .c-resume-item {
            border-color: $whitish;
            &:first-of-type:before {
                border-color: $whitish;
            }

            &:last-of-type:after {
                border-color: $whitish;
            }
        }
    }

    .applicant__name {
        color: $blueish;
        text-transform: uppercase;
    }

    .applicant__label {
        color: $whitish;
        text-transform: uppercase;
        font-weight: 400;
    }

    .contact {
        text-align: center;
        ul {
            padding: 0;
            li {
                padding: 1em;
            }
        }
    }

    .contact__phone,
    .contact__mail,
    .contact__location {
        color: $blueish;

        .c-icon {
            display: block;
            margin: 1em auto;
            stroke: $greyish;
            fill: $greyish;
        }
    }

}