@charset "utf-8";

@media screen {
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Nunito', sans-serif;
        margin: 0;
    }

    .wrapper {
        display: grid;
        width: 100%;

        @include mq($until: tablet) {
            grid-template-columns: 1fr;
            grid-template-areas:
                "sidebar"
                "content"
        }

        @include mq($from: tablet) {
            grid-template-columns: 1fr 2fr;
            grid-template-areas:
                "sidebar content  content content"
        }

        @include mq($from: wide) {
            grid-template-columns: 1fr 3fr;
            grid-template-areas:
                "sidebar  content  content content"
        }
    }

    .content {
        grid-area: content;
        display: grid;
        grid-template-columns: 1fr;
        background-color: $whitish;
        padding: 1.5rem;

        .summary {
            padding-left: 3.5em;
        }

        h3 {
            font-family: 'IBM Plex Mono', monospace;
        }

        .script {
            position: relative;
            margin: 0;
            z-index: 0;

            span {
                background-color: $whitish;
                padding: 0 1em 0 0.5em;
                text-transform: uppercase;

            }

            :before {
                content: "";
                display: block;
                position: absolute;
                z-index: -1;
                top: 50%;
                width: 100%;
                border-bottom: 3px solid $dark-brownish;
            }
        }

        .work__company,
        .education__type,
            {
            text-transform: uppercase;
            color: $color-2;
        }

        .education__institution {
            text-transform: uppercase;
            text-decoration: underline;
        }

        .work__position {
            text-transform: uppercase;
            text-decoration: underline;
        }

        .work__dates,
        .project__dates,
        .education__dates {
            display: inline-block;
            background: $color-2;
            padding: 0.5em;
            color: white;
            position: relative;
            transform: translateY(-25%);
            font-weight: 400;
            @include mq($from: tablet) {
                float: right;
            }
        }

        .education__dates {
            background: $color-5;
        }
    }

    .resume-section__icon {
        display: inline-block;
        width: 2em;
        height: 2em;
        stroke-width: 0;

    }

    .content>section:not(.summary),
    .certifications {
        display: grid;
        width: 100%;
        grid-template-columns: 3.5em 1fr;
        grid-template-areas:
            "header header"
            "icon content";

        header {
            grid-area: header;
            padding: 1em 0 1em 0;
        }

        .resume-section__icon-container {
            grid-area: icon;
            justify-self: end;
            align-self: center;
        }

        .resume-section__icon {
            background-color: $whitish;
            stroke: $dark-brownish;
            fill: $dark-brownish;
        }

        .resume-section__content-container {
            grid-area: content;
        }

        section {
            margin-left: 1em;
            padding-left: 2em;
            border-left: 3px solid $dark-brownish;

            *:last-child {
                margin: 0;
            }
        }

        section:not(:last-of-type) {
            *:last-child {
                margin-bottom: 0;
            }
        }

        section:last-of-type {
            *:last-child {
                margin-bottom: 1rem;
            }
        }

        section:first-of-type:before {
            content: "";
            display: block;
            position: relative;
            top: 0%;
            left: -2em;
            width: 3%;
            border-top: 3px solid $dark-brownish;
        }

        section:last-of-type:after {
            content: "";
            display: block;
            position: relative;
            top: 0%;
            left: -2em;
            width: 3%;
            border-bottom: 3px solid $dark-brownish;
        }
    }

    .certifications {
        margin-bottom: 1.5rem;
        section {
            border-left: 3px solid $color-4;
        }

        section:first-of-type:before {
            width: 10%;
            border-top: 3px solid $color-4;
        }

        section:last-of-type:after {
            width: 10%;
            border-bottom: 3px solid $color-4;
        }

        header:first-of-type h2 {
            text-align: center;
            border: 3px solid $color-1;
            padding: 0.5em;
            color: $color-2;
        }

        .certification__date {
            color: $color-2;
            font-weight: bold;
        }

        
        
        

    }

    .languages {
        header{
            padding: 1em 0 1em 0;
        }
        header:first-of-type h2 {
            text-align: center;
            border: 3px solid $color-1;
            padding: 0.5em;
            color: $color-2;
        }

        .language__name {
            text-transform: uppercase;
            font-weight: 700;
        }
    }


    .sidebar {
        grid-area: sidebar;
        background-color: $dark-brownish;
        color: $color-4;
        padding:0.5rem;

        ul {
            list-style-type: none;
        }

        .resume-section__icon {
            background-color: $dark-brownish;
            stroke: $whitish;
            fill: $whitish;
        }
    }

    .work__position,
    .project__name {
        text-transform: uppercase;
    }

    .applicant__name {
        color: $color-1;
        text-transform: uppercase;
    }

    .applicant__label {
        color: $color-4;
        text-transform: uppercase;
        font-weight: 400;
    }

    .contact {
        text-align: center;

        ul {
            padding: 0;
            li{
                padding: 1em;
            }
        }


    }

    .contact__phone,
    .contact__mail,
    .contact__location {
        color: $color-1;

        .resume-section__icon {
            display: block;
            margin: 1em auto;
            stroke: $color-5;
            fill: $color-5;
        }
    }


    .title {
        text-transform: uppercase;
    }

    .location {
        @include mq($from: mobile) {
            float: right;
        }
    }

    .disclaimer {
        text-transform: uppercase;
        padding: 1rem;
        background: #f6f6f6;
    }

}