---
layout: default
---
{% include symbol-defs.svg %}

<section id="main">
  <header id="title">
    <h1>{{ site.data.resume.basics.name }}</h1>
    <span class="subtitle">{{ site.data.resume.basics.label }}</span>
  </header>
  
  {% include resume/work.html %}
  {% include resume/projects.html %}
  {% include resume/education.html %}
</section>

<aside id="sidebar">
  {% include resume/contact.html %}
  {% include resume/skills.html %}
  {% include resume/languages.html %}
  {% include resume/disclaimer.html %}
</aside>

<!-- {% include example.html %} -->