---
layout: default
---
{% include symbol-defs.svg %}

<div class="wrapper">
  <!--
  <div class="header">
    <section id="applicant">
      <header class="applicant">
        <h1 class="applicant__name">{{ site.data.resume.basics.name }}</h1>
        <h3 class="applicant__subtitle">{{ site.data.resume.basics.label }}</h3>
      </header>
    </section>
  </div>
-->

  <div class="sidebar">
    <div>
      <aside>
        {% include resume/contact.html %}
      </aside>
    </div>
    <div>
        <aside>
          {% include resume/languages.html %}
        </aside>
      </div>
    <div>
      <aside>
        {% include resume/certifications.html %}
      </aside>
    </div>
   

  </div>
  <div class="content">
    {% include resume/summary.html %}
    {% include resume/work.html %}
    {% include resume/projects.html %}
    {% include resume/education.html %}
  </div>

  <!--
  <div class="footer">
    {% include resume/disclaimer.html %}
  </div>
  -->
</div>
<!--{% include example.html %} -->