{% unless site.data.resume.certifications == null %}
<section class="certifications">
    <header>
        <h2>
            <span class="title">{% translate certifications.title%}</span>
        </h2>
    </header>
    <div class="resume-section__icon-container"><svg version="1.1" xmlns="http://www.w3.org2000/svg" width="20" height="20"
            viewBox="0 0 512 512" class="resume-section__icon">
            <use xlink:href="#icon-document-certificate"></use>
        </svg></div>
    <div class="resume-section__content-container">
        {% for certification in site.data.resume.certifications %}
        <section>
            <header>
                <span class="certification__date">{{certification.date | date: "%Y" }}</span>
                <span class="certification__name">{{certification.title}}</span>
            </header>
        </section>
        {% endfor %}
    </div>
</section>
{% endunless%}