{% unless site.data.resume.certifications == null %}
<section class="certifications">
    <header>
        <h2>
            <span class="title">{% translate certifications.title%}</span>
        </h2>
    </header>
    <div class="resume-section__icon-container">
        <svg class="resume-section__icon">
            <use xlink:href="#icon-clipboard"></use>
        </svg></div>
    <div class="resume-section__content-container">
        {% for certification in site.data.resume.certifications %}
        <section>
            <header>
                <p class="certification__date">{{certification.date | date: "%Y" }}</p>
                <span class="certification__name">{{certification.title}}</span>
            </header>
        </section>
        {% endfor %}
    </div>
</section>
{% endunless%}