<div class="side-block" id="contact">
    <h1>
        Contact Info
    </h1>
    <ul>
        <li><svg class="icon icon-globe">
                <use xlink:href="#icon-globe"></use>
            </svg> johndoe.gtld</li>
        <li><svg class="icon icon-linkedin">
                <use xlink:href="#icon-linkedin"></use>
            </svg> linkedin.com/in/john</li>
        <li><svg class="icon icon-mail">
                <use xlink:href="#icon-mail"></use>
            </svg> me@johndoe.gtld</li>
        <li><svg class="icon icon-phone">
                <use xlink:href="#icon-phone"></use>
            </svg> 800.000.0000</li>
    </ul>
</div>