<section class="contact">
    <header>
        <h1>
            <span class="applicant__name">{{site.data.resume.basics.name}}</span></h1>
        <h2>
            <span class="applicant__label">{{site.data.resume.basics.label}}</span>
        </h2>
    </header>
    <section>
        <ul>
            <li class="contact__url"><svg class="icon icon-globe">
                    <use xlink:href="#icon-globe"></use>
                </svg> {{site.data.resume.basics.url}}</li>
            <li class="contact__mail"><svg class="icon icon-mail">
                    <use xlink:href="#icon-mail"></use>
                </svg> {{site.data.resume.basics.email}}</li>
            <li class="contact__phone"><svg class="icon icon-phone">
                    <use xlink:href="#icon-phone"></use>
                </svg> {{site.data.resume.basics.phone}}</li>
        </ul>
    </section>
</section>