<section class="contact l-sidebar">
    <header>
        <h1>
            <span class="applicant__name">{{site.data.resume.basics.name}}</span></h1>
        <h3>
            <span class="applicant__label">{{site.data.resume.basics.label}}</span>
        </h3>
    </header>
    <section>
        <ul>
            <li class="contact__phone"><svg class="c-icon">
                    <use xlink:href="#icon-phone"></use>
                </svg> {{site.data.resume.basics.phone}}</li>
            <li class="contact__mail"><svg class="c-icon">
                    <use xlink:href="#icon-envelop"></use>
                </svg> {{site.data.resume.basics.email}}</li>
            <li class="contact__location"><svg class="c-icon">
                    <use xlink:href="#icon-location"></use>
                </svg> {{site.data.resume.basics.location.city}}</li>

        </ul>
    </section>
</section>