<section class="education">
    <header >
        <h2>
            <svg class="icon icon-graduation-cap">
                <use xlink:href="#icon-graduation-cap"></use>
            </svg><span class="title">{% translate education.title%}</span>
        </h2>
    </header>

    {% for education in site.data.resume.education %}
    <section>
        <header>
            <h2>{{education.studyType}} - {{ education.area }}</h2>
            <h3>
                <span class="education__dates">{{education.startDate | date: "%Y" }} - {{education.endDate | date: "%Y" }}</span>
                <div class="location"> <svg class="icon icon-location">
                        <use xlink:href="#icon-location"></use>
                    </svg> {{ education.institution }}</div>
            </h3>
        </header>       
    </section>
    {% endfor %}
</section>