<section class="education c-resume-section">
    <header>
        <h2 class="c-resume-section__script-title"> <span>{% translate education.title%}</span>
        </h2>
    </header>
    <div class="c-resume-section__icon-container"><svg class="c-icon">
            <use xlink:href="#icon-book"></use>
        </svg></div>
    <div class="c-resume-section__content-container">
        {% for resumeEducation in site.data.resume.education %}
        <section class="c-resume-item">
            <header>
                <h3 class="c-resume-item__title">
                    <span class="education__type">{{resumeEducation.studyType}}</span>                    
                </h3>
                <h3 class="c-resume-item__subtitle"> {{ resumeEducation.institution }}</h3>
                <span class="c-resume-item__dates--grey">{{resumeEducation.startDate | date: "%Y" }}{% if resumeEducation.endDate == ""%}
                    - {%
                    translate
                    education.currently %}{% elsif resumeEducation.endDate != "" %} - {{resumeEducation.endDate | date: "%Y"
                    }}{%
                    endif%}</span>
                <span class="education__gpa">{% translate education.gpa %} {{resumeEducation.gpa}}</span>
            </header>
        </section>
        {% endfor %}
    </div>
</section>