<section class="selected-projects">
    <header>
        <h2>
            <svg class="icon icon-folder-open">
                <use xlink:href="#icon-folder-open"></use>
            </svg><span class="title"> Projects</span>
        </h2>
    </header>

    {% for project in site.data.resume.projects %}
    <section>
        <header class="projects__name">
            <h2>{{project.name}}</h2>
            <h3>
                <span class="projects__entity">{{ project.entity }}</span> |
                <span class="projects__dates">{{project.startDate | date: "%Y" }} - {{project.endDate | date: "%Y"
                    }}</span>
                {% unless experience.location == null %}
                <div class="location"> <svg class="icon icon-location">
                        <use xlink:href="#icon-location"></use>
                    </svg> {{project.location}}</div>
                {% endunless %}
            </h3>
        </header>
        <p>{{project.description}}</p>
        <ul>
            {% for highlight in project.highlights %}
            <li>{{highlight}}</li>
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
</section>