<section class="work">
  <header>
    <h2>
      <svg class="icon icon-suitcase">
        <use xlink:href="#icon-suitcase"></use>
      </svg>
      <span class="title">{% translate work.title%}</span>
    </h2>
  </header>

  {% for experience in site.data.resume.work %}
  <section>
    <header>
      <h3 class="work__position">{{ experience.position }}</h3>
      <h3>
        <span class="work__company">{{ experience.name }}</span> |
        <span class="work__dates">{{experience.startDate | date: "%Y" }}{% if experience.endDate == ""%} - {% translate experience.currently %} {% elsif experience.endDate != "" %} - {{experience.endDate | date: "%Y" }}{% endif%}</span>
        {% unless experience.location == null %}
        <div class="location"> <svg class="icon icon-location">
            <use xlink:href="#icon-location"></use>
          </svg> {{experience.location}} </div>{% endunless%}
      </h3>
    </header>

    <p>{{experience.summary}}</p>
    <ul>
      {% for highlight in experience.highlights %}
      <li>{{highlight}}</li>
      {% endfor %}
    </ul>
  </section>
  {% endfor %}
</section>